/* CSS BY YOUR NAME 

    Name: Nico Morente

*/

/* IMPORTED FONTS */
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap);

/* CSS REST */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */

header, footer{ 
    font-family: Playfair Display;
    padding: 0 10px;
}

/* GLOBAL STYLES (mobile first/small) */
/* Header */
header{
    background-color: #1F2A44;
    color: #ffffff;
    padding-bottom: 20px;
}

header img{
    padding-left: 90px;
    width: 130px;
}

h1{
    font-size: 40px;
    text-align: center;
    font-weight: 800;
    padding-bottom: 20px;
}

header p{
    font-size: 12px;
    text-align: center;
    font-style: italic;
}

/* Nav */
nav{
    display: inline;
    height: 30px;
}

nav ul{
    background-color: #E5C185;
    height: 15px;
    list-style: none;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

nav ul li{
    float: left;
    width: 30%;
    padding: 5px;
    text-align: center;

}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}


/* Main */
.firstMiddle,.secondMiddle,.thirdMiddle {
    border-bottom: 2px solid #E5C185;
    margin: 10px;
    padding-bottom: 10px;
}

section p {
    font-size: .10em;
    padding: 0 5px;
    word-spacing: 1/4;
}

h2{
    font-size: 20px;
    padding: 5px;
}

.info{
    background-color: #76885B;
    border-radius: 10px;
    margin: 10px 0;
    width: 300px;
    height: 110px;
}

.info h3{
    font-size: 20px;
    padding: 5px 10px 10px 5px; 
}


button {
    text-align: center;
    width: 320px;
    height: 25px;
    background-color: #76885B;
    color: #ffffff;
    border-radius: 3px;
    border: 1px solid #2B2B2B;
}

footer{
    background-color: #1F2A44;
    color: #ffffff;
    text-align: center;
}

/* MEDIA QUERY (medium) */
@media screen and (max-width: 600px) {
    
}

/* MEDIA QUERY (large) */
@media screen and (min-width: 900px) {
    
}

/* MEDIA QUERY (xl) */
@media screen and (min-width: 1200px) {
    
}